<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hike Planner</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/fe0b1ed089.js"></script>
    <style>
        .img{
            width: 100%;
            margin: auto;
            display: block;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Hike Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <main>
        <div class="container-fluid bg-secondary">
            <div class="row">
                <div class="col-6 bg-green">
                    <h1 style="text-align: center">Find a Hike</h1>
                        <a href="/hike/finder"><button class="btn btn-success">Find a Hike</button></a>
                        <img src="{% static 'DSC_4101.JPG' %}" alt="find hike img">
                </div>
                <div class="col-6 bg-light">
                    <div class="col bg-success p-5">
                        <h1 style="text-align: center">Planned Hikes</h1>
                        <h3>Placeholder - later to be a table of planned hikes</h3>
                    </div>
                    <div class="col bg-dark p-5">
                        <h1 style="text-align: center">Completed Hikes</h1>
                        <h3>Placeholder - later show completed hikes by user</h3>
                    </div>                    
                </div>
            </div>
        </div>

    </main>
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header">
             Other Page Features
            </div>
            <div class="card-body">
              <h5 class="card-title">Created by John Albert</h5>
              <p class="card-text">Find out more about me...</p>
              <a href="https://github.com/johnmalbert" class="btn btn-primary">Github</a>
              <a href="https://github.com/johnmalbert" class="btn btn-primary">Github</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
    </div>
</body>
</html>