<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://png.pngtree.com/png-clipart/20200224/original/pngtree-men-hiking-hat-icon-cartoon-style-png-image_5208389.jpg"/>
    <title>National Parks Passport</title>
    {% load static %}
    <script src="https://use.fontawesome.com/fe0b1ed089.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script>
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script>
        $(document).ready(function() {
            // Attach event listener to "Mark as Visited" button
            $(".mark-visited-btn").on("click", function(event) {
                event.preventDefault(); // Prevent default form submission
                var btnId = $(this).attr("id"); // Get the ID of the clicked button
                var parkId = btnId.split("-").pop(); // Extract the park ID from the button ID
                var btnElement = $(this); // Store the button element for later use
                
                $(this).removeClass("btn-primary").addClass("btn-success");
                // Send AJAX request to mark park as visited
                $.ajax({
                    url: "/parks/" + parkId + "/visit",
                    type: "GET",
                    success: function(response) {
                        // Handle success response, e.g., update UI
                        btnElement.text("Added to Passport!");
                        btnElement.prop("disabled", true); 
                        console.log("Park marked as visited:", response);
                    },
                    error: function(error) {
                        // Handle error response, e.g., show error message
                        console.error("Error marking park as visited:", error);
                    }
                });
            });
        });
        $(document).ready(function() {
            $(".mark-removed-btn").on("click", function(event) {
                event.preventDefault(); // Prevent default form submission
                var btnId = $(this).attr("id"); // Get the ID of the clicked button
                console.log(btnId);
                var parkId = btnId.split("-").pop(); // Extract the park ID from the button ID
                var btnElement = $(this); // Store the button element for later use

                console.log(btnId)
                $(this).removeClass("btn-success").addClass("btn-primary");
                $.ajax({
                    url: "/parks/user/" + parkId + "/removevisit",
                    type: "GET",
                    success: function(response) {
                        // Handle success response, e.g., update UI
                        btnElement.text("Removed from Passport");
                        btnElement.prop("disabled", true); 
                        console.log("Page removed from passport", response);
                    },
                    error: function(error) {
                        // Handle error response, e.g., show error message
                        btnElement.text("Didn't work...")
                        console.error("Error marking park as removed:", error);
                    }
                });
            });
        });
    </script>
    <style>
        img {
            height: 100%;
            margin: auto;
            display: block;
        }

        .icon {
            height: 50px;
        }

        .park_photo {
            width: 100%;
            max-height: 40rem;
        }

        .link {
            color: #007bff;
            font-size: 20px;
        }

        .app {
            background-color: #267433;
            color: #fff;
            margin: 10vh auto;
            border-radius: 5px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        .app h1 {
            font-size: 5em;
            padding: 10px;
            margin: auto;
            font-weight: 300;
        }

        .app h2 {
            font-weight: 300;
            letter-spacing: 5px;
        }

        h5 {
            color: #267433;
            text-align: justify;
        }

        .banner_img {
            max-height: 4rem;
            display: inline-block;
            vertical-align: middle;
        }
        .park_img {
            max-height: 12rem;
            display: block;
            margin: 10px auto;
        }
    </style>

</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-between">
        <div>
            <img class="banner_img" src="{% static 'nps.png' %}" alt="NPS">
            <a class="navbar-brand">Welcome, Ranger {{this_user.first_name}}</a>
        </div>
        <span class="navbar-text">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="/parks"><button class="btn btn-default">Select a Park</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/parks/random"><button class="btn btn-default">Random Park</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/parks/user/leaders"><button class="btn btn-default">Passport Leaders</button></a>
                    </li>
                    {% if this_user %}
                    <li class="nav-item">
                        <a href="/parks/user/visited"><button class="btn btn-default">Your Passport</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/account"><button class="btn btn-default">My Account</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout"><button class="btn btn-default">Logout</button></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="/"><button class="btn btn-default">Create Account</button></a>
                    </li>
                    {% endif %}
        </div>
    </span>
      </nav>
    <main>
        <div class="container-fluid p-3">
            <div class="card text-center">
                <div class="card-header">
                    <div class="shadow rounded" style="background-color: #e6e6e6">
                        <h1 style="text-align: center; font-size: 3vw; padding: 2rem; color: #267433; text-shadow: 1px 1px #b5b5b5;">AMERICA'S NATIONAL PARKS</h1>
                    </div>
                </div>
            </div>
            <div class="row mt-2" style="background-color: #f1f4f8">
                <div class="col-md-12 text-right">
                    <form method="GET" action="{% url 'all_parks' %}">
                        {{ search_form }}
                        <input class="col-md-2 text-left" type="search" name="search_query" class="form-control" id="exampleInputEmail1" placeholder="Search for park">
                        <button type="submit" class="btn btn-primary mx-auto">Search</button>
                    </form>
                </div>
                {% for park in all_parks %}
                <div class="col-md-3 p-4" style="height: 22rem;">
                    <a href="/parks/{{park.id}}">
                        <img class="park_img" src="{% static park.parkCode|lower|add:'.png' %}" alt="National Park Image">
                        <h5 style="text-align: center; font-size: 1rem; padding: 10px;">{{park.name}}</h5>
                    </a>
                    <div class="col text-center p-2">
                        {% if this_user == null %}
                            <a href="/"><button class="btn btn-primary"
                            style="text-align: center;">Login to Create Passport</button></a>
                        {% elif this_user not in park.visits.all %}
                        <a href="/parks/{{park.id}}/visit">
                            <button class="btn btn-primary mark-visited-btn" id="mark-visited-btn-{{park.id}}"
                                style="text-align: center;">Mark as visited!</button>
                        </a>
                        {% else %}
                        <a href="parks/user/{{park.id}}/removevisit/home" ><button class="btn btn-success mark-removed-btn" id="mark-removed-btn-{{park.id}}">Remove Visit from Passport</button></a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% if request.session.allparks %}
                <div class="col text-center p-5">
                    <a href="/parks/allparks" style="text-align: center;"><button class="btn btn-primary">View All Parks</button></a>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
    </main>
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header">
                <button class="btn btn-default" onclick="topFunction()" btn-default title="Go to top">Return to Top</button>
            </div>
            <div class="card-body">
                <h6 class="card-title">Created by John Albert</h6>
                <p class="card-text">Find out more about me...</p>
                <a class="link" href="https://www.github.com/johnmalbert" style="color: black;"><i class="fa fa-github"
                    aria-hidden="true"> </i>&nbsp  &nbsp</a>
            <a class="link" href="https://www.linkedin.com/in/john-m-albert/"><i class="fa fa-linkedin"
                    aria-hidden="true"> </i>&nbsp  &nbsp</a>
            <a class="link" href="https://www.instagram.com/chasethealberts" style="color: rgb(255, 60, 0)"><i class="fa fa-instagram"
                    aria-hidden="true"> </i>&nbsp  &nbsp</a>
        </div>
            <div class="card-footer text-muted">
                Full Stack Developer
            </div>
        </div>
    </div>
</body>

</html>